###########################################
# N8N DEV NGINX TEMPLATE (NO SSL)
###########################################

server {
    listen ${NGINX_PORT};
    listen [::]:${NGINX_PORT};

    server_name ${NGINX_HOST};

    client_max_body_size 100M;

    # Using variable in proxy_pass forces dynamic DNS resolution
    set $n8n_backend "http://n8n:5678";

    # Proxy headers
    proxy_set_header Host               $host;
    proxy_set_header X-Real-IP          $remote_addr;
    proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto  http;
    proxy_set_header Upgrade            $http_upgrade;
    proxy_set_header Connection         "upgrade";

    proxy_read_timeout 3600;
    proxy_send_timeout 3600;

    # Health check endpoint
    location = /healthz {
        access_log off;
        proxy_pass $n8n_backend/;
        proxy_set_header Host $host;
    }

    location / {
        proxy_pass $n8n_backend/;
    }

    location ~ ^/webhook/.*$ {
        proxy_pass $n8n_backend;
    }

    location ~ ^/webhook-test/.*$ {
        proxy_pass $n8n_backend;
    }
}
